<form asp-action="Create">
    <div class="modal fade" id="registerDefaultModalAction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Registrar Funcionário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column gap-3">
                    <div class="form-floating">
                        <input required  id="Name" class="form-control" placeholder="Nome" name="Name" class="form-control" />
                        <label for="Name">Nome</label>
                    </div>
                    <div class="form-floating">
                        <input required type="email"  id="Email" name="Email" placeholder="Email" class="form-control" />
                        <label for="Email">Email</label>
                    </div>
                    @* <div class="form-floating">
                        <input required  type="password" id="Password" name="Password" placeholder="Senha" class="form-control" />
                        <label for="Password">Senha</label>
                    </div> *@
                    <div class="form-floating">
                        <input required id="Cpf" name="Cpf" oninput="maskCpf(this)" type="text" placeholder="Cpf" class="form-control" />
                        <label for="Cpf">Cpf</label>
                        <span id="alertCpf" class="text-danger d-none"></span>
                    </div>
                    <div class="form-floating">
                        <input id="ContactNumber" name="ContactNumber" placeholder="Contato" class="form-control" />
                        <label for="ContactNumber">Contato</label>
                    </div>
                    <div class="form-floating">
                        <input id="Office" name="Office" placeholder="Cargo" class="form-control" />
                        <label for="Office">Cargo</label>
                    </div>
                    <div class="form-floating">
                        <input name="Sector" class="form-control" placeholder="Setor" />
                        <label for="Sector">Setor</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="Gender" name="Gender" aria-label="Seleção de gênero.">
                            <option selected>Selecione</option>
                            @{
                                foreach (string status in Enum.GetNames(typeof(Employee.GenderEnum)))  
                                {  
                                    <option value="@status">@status</option>
                                }  
                            }
                        </select>
                        <label for="Gender">Gênero</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="MaritalStatus" name="MaritalStatus" aria-label="Seleção de Estado Civil">
                            <option selected>Selecione</option>
                            @{
                                foreach (string status in Enum.GetNames(typeof(Employee.MaritalStatusEnum)))  
                                {  
                                    <option value="@status">@status</option>
                                }  
                            }
                        </select>
                        <label for="Gender">Estado Civil</label>
                    </div>
                    <div class="form-floating">
                        <input id="BirthDate" class="form-control" type="text" name="BirthDate" placeholder="Data de Nascimento..."onfocus="(this.type='datetime-local')" onblur="(this.type='text')">
                        <label for="BirthDate">Data de Nascimento</label>
                    </div>
                </div>

                <div class="modal-footer buttons-group-actions">
                    <button type="button" class="btn-danger btn btn-primary d-flex align-items-center" data-bs-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/></svg>
                        Cancelar
                    </button>
                    <button type="submit" class="btn-success btn btn-primary d-flex align-items-center" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/></svg>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>