@{
    ViewData["Title"] = "ListOcurrence";
}

<div class="row mt-2 mb-5 mx-3"><H3>Ocorrêcias Registradas</H3></div>
<div class="row my-3 mx-3 flex-nowrap justify-content-between d-flex">
    <div class="col-md-6 me-5 ">
        <div class="input-group ">
            <input class="form-control" type="search" placeholder="PESQUISE">
        </div>
    </div>
    <div class="d-flex justify-content-between flex-shrink-1">
        <div class="col-md-3">
            <select id="inputState" placeholder="Mês" class="form-select">
                <option selected disabled hidden>Tipo</option>
                <option>Manutenção</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="inputState" placeholder="Mês" class="form-select">
                <option selected disabled hidden>Mês</option>
                <option>Janeiro</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="inputState" placeholder="Mês" class="form-select">
                <option selected disabled hidden>Ano</option>
                <option>2022</option>
            </select>
        </div>
    </div>
</div>
<div>
    <div class="row row-cols-1 mx-3  row-cols-md-4 ">
        
        <div class="col px-4 pb-5">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col px-4   pb-5 ">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col px-4   pb-5">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col px-4   pb-5">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col px-4   pb-5">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col px-4   pb-5 ">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col px-4   pb-5">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        <div class="col px-4   pb-5">
            <div class="card h-100">
                <img src="https://poolpiscina.com/wp-content/uploads/2011/09/Piscina-verde.jpg" class="card-img-top img-card" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">Piscina Suja</h5>
                    <p class="card-text font-body-card">A piscina esta precisando urgente de uma limpeza esta impraticavel</p>
                    <p class="card-text font-body-card">Por:<a class="text-primary">Jose da Silva Sauro dos Santos</a></p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <small class="text-muted font-body-card">16/02/2022 17:19</small>
                    <button type="button" class="btn btn-primary btn-sm">Visualizar</button>
                </div>
            </div>
        </div>
        
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end me-4">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>