@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row">
        <h3>Registrar Correspondências</h3>
    </div>
    <div class="row ">
        <div class="buttons-actions d-flex flex-row-reverse">
            <a class="btn btn-primary ms-2" href="#" role="button">Entregar</a>
            <a class="btn btn-primary ms-2" href="#" role="button">Excluir</a>
            <a class="btn btn-primary ms-2" href="#" role="button">Editar</a>
            <a class="btn btn-primary ms-2" href="#" role="button">Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex row my-3 mx-3 flex-nowrap flex-lg-row flex-column justify-content-between ">
            <div class="col-lg-6 col-sm-12 me-5 ">
                <div class="input-group ">
                    <input class="form-control" type="search" placeholder="PESQUISE">
                    <span class="input-group-text" id="addon-wrapping">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="d-flex justify-content-between flex-shrink-1">
                <div class="col-md-3">
                    <select id="inputState" placeholder="Mês" class="form-select">
                        <option selected disabled hidden>Tipo</option>
                        <option>Manutenção</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="inputState" placeholder="Mês" class="form-select">
                        <option selected disabled hidden>Mês</option>
                        <option>Janeiro</option>
                        <option>Fevereiro</option>
                        <option>Março</option>
                        <option>Abril</option>
                        <option>Maio</option>
                        <option>Junho</option>
                        <option>Julho</option>
                        <option>Agosto</option>
                        <option>Setembro</option>
                        <option>Outubro</option>
                        <option>Novembro</option>
                        <option>Dezembro</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="inputState" placeholder="Mês" class="form-select">
                        <option selected disabled hidden>Ano</option>
                        <option>2022</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <th scope="col">Status</th>
                <th scope="col">Destintário</th>
                <th scope="col">Unidade</th>
                <th scope="col">Código de Rastreio</th>
                <th scope="col">Data</th>

                </tr>
            </thead>
            <tbody>
                @{
                    for(var i = 0; i < 1; i++)
                    {
                        <tr>
                                <th scope="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </th>                                
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
