/* Page Settings */
html{
  overflow-y: scroll;
}

body{
  background-color: #eff1f5 !important;
}

*{
  font-family: 'Poppins', sans-serif;
}

:root{
  --base-color-dark-yellow: #CC9A06;
  --base-color-dark-yellow-hov: #9e7805;
  --base-color-blue: #4763E4;
  --base-color-grey: #6C757D;
  --text-color-white: white;
  --background-color-white: white;
  --background-color-light: #F8F9FA;
  --text-color-white-hov: #dbdbdb;
  --base-color-input-border: #ced4da;
  --menu-linear-gradient: linear-gradient(180deg, #0E1B6B 0%, rgba(14, 27, 107, 0.81875) 42.71%, rgba(14, 27, 107, 0.76) 100%);
  --base-color-red: #dc3545;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
/* ------------------------------ */

/* Removing default bootstrap outlines and borders. */
a,
a:focus,
button,
button:focus{
  outline: none !important; 
  box-shadow: none !important;
  border: none !important;
}

.filter-group .btn,
.filter-group .btn:focus,
select,
select:focus,
input,
input:focus,
textarea:focus,
textarea{
  border: solid 1px var(--base-color-input-border) !important;
  outline: none !important;
  box-shadow: none !important;
}
/* ------------------------------ */

/* Customization of the side menu section */
.menu-container{
  background: var(--menu-linear-gradient) !important;
}

.menu-container ul li a{
  color: var(--text-color-white) !important;
  width: calc(100% - 1.25rem);
}

.container-screen{
  height: 100%;
}

.logo{
  width: 50%;
  max-width: 200px;
  min-width: 120px;
}

.font-body-card{
  font-size: 16px;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

.profile{
  max-width: 200px;
  min-width: 150px;
  width: 70%
}

.icons-profile svg{
  transition: ease-in 0.3s;
  max-width: 32px;
}

.profile-text{
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: var(--text-color-white);
}

.menu{
  max-height: 400px !important;
}

.menu .btn-toggle {
  width: 100%;
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--text-color-white) !important;
  background-color: transparent;
}

.menu .btn-toggle:hover {
  color: var(--text-color-white-hov) !important;
  width: 100%;
  box-shadow: 0 0 0 0 !important;
  outline: none;
}

.menu .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("../images/triangle.svg");
  transition: transform .35s ease;
  transform: rotate(90deg);
  transform-origin: .5em 50%;
  order: 2;  
}

.menu .btn-toggle[aria-expanded="true"]::before {
  transform: rotate(180deg);
}

.menu .btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.menu .btn-toggle-nav a:hover,
.menu .btn-toggle-nav a:focus {
  background-color: #4763E4;
}

.baseboard a{
  text-decoration: none;
  transition: ease-in 0.3s;
}

.icons-profile:hover,
.baseboard a:hover{
  transform: scale(1.2);
}

.baseboard p{
  color: var(--text-color-white);
}
/* ------------------------------ */

/* Container bootstrap principal. */
body > .container-fluid{
  height: 100vh;
}

.container-main{
  height: 100%; 
  position: relative;
}
main.container-lg{
  background-color: var(--background-color-white);
  width: 100% !important;
  height: 100%;
}
/* ------------------------------ */

/* Customization of the page's action buttons. */
.buttons-group-actions svg{
  margin-right: 3px;
}

.buttons-group-actions .btn{
  transition: 0.2s ease-in all;
}

.buttons-group-actions .btn:hover{
  transform: scale(1.05);
}

.filter{
  cursor: pointer;
}

.filter button{
  width: fit-content;
  cursor: pointer;
}

.items-actions{
  gap: 20px;
}

.items-actions span{
  transition: ease-in 0.2s;
}

.items-actions span:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.btn-edit{
  background-color: var(--base-color-dark-yellow);
  color: var(--text-color-white);
}

.btn-edit:hover{
  background-color: var(--base-color-dark-yellow-hov);
  color: var(--text-color-white);
}
/* ------------------------------ */

/* Centering table elements. */
table tr{
  text-align: center;
}
/* ------------------------------ */

/* Pointer courses for checkboxes */
.form-check input:hover{
  cursor: pointer;
}
/* ------------------------------ */

/* pagination settings */
.pagination .page-item.disabled{
  background-color: var(--background-color-white);
}

.page-link{
  color: var(--base-color-grey);
}

.page-link:hover{
  border-radius: 5px;
  color: var(--base-color-dark-yellow);
}

.page-link:focus{
  border-radius: 5px;
  color: var(--base-color-dark-yellow);
}

.page-item.active .page-link{
  background-color: var(--base-color-dark-yellow);
  border-color: var(--base-color-dark-yellow);
  border-radius: 5px;
}

.page-item{
  margin: 2px;
}
/* ------------------------------ */

/* Breadcrumb customization */
.nav-breadcrumb a{
  color: var(--base-color-blue);
  text-decoration: none;
}

.nav-breadcrumb{
  padding: 10px;
  background-color: var(--background-color-light);
}
/* ------------------------------ */

/* Customization of the models data display section. */
.form-group-contour{
  height: fit-content;
  border: var(--base-color-input-border)  1px solid;
}

.form-group-title{
  color: var(--base-color-grey);
  background-color: var(--background-color-white);
  position: relative;
  top: -1.8rem;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1rem;
}

.initial_margin_negative{
  margin-top: -1.5rem;
}
/* ------------------------------ */


/* Scroll areas */
.scrollarea{
  transition: 0.2s ease-in;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollarea.details{
  max-height: 65vh;
}

.scrollarea.list{
  max-height: 70vh;
}
/* ------------------------------ */

/* Settings for images of occurrences */
.body-group-occurence{
  width: 75%;
}

.imagem-occurrence-group{
  width: 25%;
}

.imagem-occurrence{
  width: 100%;
  height: 10rem;
}

.label_photos{
  display: block;
}

.image_detail_occurrence{
  width: 10vw;
  height: 10vw;
}
/* ------------------------------ */

/* Utils */
.text-collapsed{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none{
  text-decoration: none;
}

.disabled{
  background-color: #6C757D;
}
/* ------------------------------ */

/* Occurrence status buttons */
.buttons_status span{
  font-weight: 600;
  border: 1.5px solid;
}

.button_inprogress{
  color: var(--base-color-dark-yellow-hov) !important;
  border-color: var(--base-color-dark-yellow-hov) !important;
}

/* Modal settings */
.modal-button-close{
  background-color: transparent;
  width: fit-content;
}

.modal-button-close i{
  font-size: 24px;
  color: var(--base-color-red)
}
/* ------------------------------ */

/* Missing records alert */
.no-registry-message{
  height: 50vh;
}
.no-registry-message p{
  font-size: 30px;
  color: var(--base-color-grey);
}
/* ------------------------------ */

/* Responsiveness */
  @media screen and (max-width: 1400px) {
    .menu-container .list-group span{
      font-size: 0.9rem;
    }
  
    .menu-container ul li a{
      font-size: 0.8rem;
    }
  
    .baseboard a p{
      font-size: 0.9rem;
    }
  
    .baseboard svg {
      width: 20px;
      height: 20px;
    }
  
    .menu-container .list-group svg{
      width: 16px;
      height: 16px;
    }
  
    .btn-toggle::before{
      width: 0.6em;
    }
  
    .icons-profile{
      max-width: 25px;
    }
  }
  /* ------------------------------ */
  
  /* Responsiveness */
  @media (min-width: 1350px){
    .card_occurrence{
      min-width: 500px;
    }
  }
  /* ------------------------------ */
  
  /* Responsiveness */
  @media screen and (max-width: 1250px) {
    .menu-container .list-group span{
      font-size: 0.7rem;
    }
  
    .menu-container ul li a{
      font-size: 0.7rem;
    }
    .menu-container .h6{
      font-size: 0.8rem;
    }
  
    .baseboard a p{
      font-size: 0.7rem;
    }
  
    main.container-lg{
      max-width: 100% !important;
    }
  
    .btn-toggle::before{
      width: 0.2em;
    }
  
    .icons-profile{
      max-width: 22px;
    }
  }
  /* ------------------------------ */
  
  /* Responsiveness */
  @media screen and (min-width: 1250px) {
    main.container-lg{
      max-width: 100% !important;
    }
  }
  /* ------------------------------ */
}