<div class="modal fade" id="image_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imagem</h5>
                <button type="button" class="modal-button-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img src="" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>